*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.menu{
    background-color: #3c68f0;
}



.creadores1{
    width: 90%;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
}

.h1a{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 48px;
        color: rgb(13, 99, 154);
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

.cont{
    width: 240px;
    
    
    margin-top: 30px;
    
}

.foto-creador{
    width:240px;
    height:240px;
    border-radius:160px;
    border:8px solid #dee2e6;
    

}

.nombre{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(13, 99, 154);
    text-align: center;
}

.titulo{
    color: rgb(0, 0, 77);
    text-align: center;
    font-size:15px;
    margin-top: 5px
}

.benjamin, .keiry, .vladimir{
    margin-top: 59px;
}


@media (max-width: 858px){
    
    .nombre, .titulo{
        
        width: 100%;
    }
    .creadores1{
        justify-content: center;
        flex-direction: column;
    }

    .cont{
        width: 140px;
    }
    .foto-creador{
        width: 150px;
        height: 150px;
    }

    .h1a{
        font-size: 35px;
    }

    .enlace{
        width: 260px;
    }
}

